<div class="content_post" ">
  <div class="more">
  
    <ul class="more_list">

      <% if log_signed_in? && current_log.id == user.log_id %>
        <li>
          <%= link_to '編集', "/tweets/#{user.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/users/#{user.id}", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= simple_format(user.text) %>
  <span class="name">
    <a href="/users/<%= user.log_id %>">
    
    </a>
  </span>
</div>